<h1> Customer Profile Page </h1>


<ul>
<li class = "name"> <%= @customer.name %> </li>
<li class = "address"> <%= @customer.address %> </li>
</ul>

<div>
<%= link_to "Change Customer Name", edit_customer_path %>
</div>

