
<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" href="/css/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SneakerX</title>
</head>
<body style="margin: 0px">
    <div style="background-color: red; width: 100%; marigin: 0px">
        <div style="float: left; width 80%"></div>
        <div style="height: 100px; text-align: right;">
          <div style="padding: 10px; padding-right: 40px; color: white; font-family: sans-serif; font-weight: bold" id="about">
            <ul  style="list-style-type: none" > 
              <li class=nav style="display: inline"><a href="/products">Product List 👟</a></li>
              <li class=nav style="display: inline"><a href="/login">Login</a></li>
          </div>
        </div>
            </ul>
    </div>
    

<h1>


    <div style="margin: 20px">
    <%= yield %>
    <!-- <%# <insert "set :views, 'app/views/students/show.erb> %> -->
    

 </div>
</body>
<footer>  the footer is here</footer>
</html> 
